*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('img-1.jpg');
  background-size: cover;
  background-position: center;
  filter: blur(10px);
}

.loading-text {
  font-size: 4rem;
  z-index: 10;
  color: #fff;
}